<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve a Meeting Room</title>
    <script>
        window.onload = function() {
            // Get current date and time
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

            var hours = ("0" + now.getHours()).slice(-2);
            var minutes = ("0" + now.getMinutes()).slice(-2);
            var currentTime = hours + ":" + minutes;

            // Set the value of the date input to the current date
            document.getElementById('date').value = today;

            // Assuming you want to set the start time as the current time
            // Adjust accordingly if you need a different default value
            document.getElementById('startTime').value = currentTime;

            // Optionally set the end time, for example, 1 hour ahead
            var endTime = new Date(now.getTime() + 60*60000); // Adds 60 minutes to the current time
            var endHours = ("0" + endTime.getHours()).slice(-2);
            var endMinutes = ("0" + endTime.getMinutes()).slice(-2);
            var newEndTime = endHours + ":" + endMinutes;
            document.getElementById('endTime').value = newEndTime;
        }
    </script>
</head>
<body>
    <h1>Reserve a Meeting Room</h1>
    <form action="/reservation/create" method="POST">
        
        <br><br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <br><br>
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime" required>
        <br><br>
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime" required>
        <br><br>
        <button type="submit">Reserve</button>
    </form>
</body>
</html>
