<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Réservation de Salles</title>
</head>
<body>
    <h1>Accueil - Réservation de Salles</h1>
    <!-- Button for future reservation -->
    <a href="/reservation/reserve/select-date"><button>Réserver une salle ultérieurement</button></a>
    <!-- Button for immediate reservation -->
    <a href="/reservation/availableRooms"><button>Réserver une salle maintenant</button></a>
</body>
</html>
